<IfModule mod_rewrite.c>
	Options -Multiviews
	RewriteEngine On
	# Edit it in with your folder "furwork TO -> Your folder" (only if your have a subfolder)
	RewriteBase /furwork/public 
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>